<a href={% url 'goals:index' user.username "empty" %}><h1>mLG</h1></a> <!-- Home page of Users --> 

<ul>
Welcome {{user.username}},make LIFE GOOD by making your LIFE GOALS come true
</ul>

<!--  Display message and Payment button for users to upgrade their subscription -->
{%if sub != "Premium" %}
<ul>You are currently on  {{sub}}, kindly upgrade to the plans below to enjoy more</ul>
<form>
    <script type="text/javascript" src="https://ravesandboxapi.flutterwave.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
    <button type="button" onClick="payWithRave(5000 )">Premium: 5000 Naira</button>
    {%if sub == "Basic" %}
    <script type="text/javascript" src="https://ravesandboxapi.flutterwave.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
    <button type="button" onClick="payWithRave(1000)">Starter: 1000 Naira</button>
    {% endif %}
</form>

<!-- Rave API script -->
<script>
    const API_publicKey = "FLWPUBK-0137c7c59c9a7e988e449650043def66-X";
    
    function payWithRave(price) {
        var x = getpaidSetup({
            PBFPubKey: API_publicKey,
            customer_email: "{{ mail }}" ,
            amount: price,
            customer_phone: "2349032222708",
            currency: "NGN",
            payment_method: "both",
            txref: "{{txref}}",
            onclose: function() {},
            callback: function(response) {
                var txref = response.tx.txRef;
                console.log("This is the response returned after a charge", response);
                if (
                    response.tx.chargeResponseCode == "00" ||
                    response.tx.chargeResponseCode == "0"
                ) {
                        window.location.replace("{% url 'goals:confirm' user.username txref %}");//Redirecting to server-side validation
                } else {
                        window.location.replace("{% url 'goals:index' user.username 'n' %}");//Redirecting to users'homepage with an error message
                }

                x.close();
            }
        });
    }
</script>
{% endif %}

<!-- Notification for mLG users -->
{% if message %}
<font size = "3"
color = "red">{{message}}
</font>
{% endif %}

<!-- Displays all personal lists of a user, including remove and rename button -->
{% if goals_categories %}
<ul>
{% for list in goals_categories %}
<a href={% url 'goals:list_detail' user.username list.id %}><li>{{ list.title }} </li></a>
<form>
  <button formaction={% url 'goals:remove' user.username list.id 0 %}>remove</button>
  <button formaction={% url 'goals:rename' user.username list.id 0 %}>rename</button>
</form>
{% endfor %}
</ul>
{% else %}
<p>No list created yet.</p>
{% endif %}

<!-- A text box for creating a new list -->
<form method = "GET" action = {% url 'goals:add' user.username 0  %}>
  New List:<br>
  <input type="text" name="new_list"><br>
  <input type="submit" value="Create list">
</form>

<!-- logging out button -->
<form action = {% url 'goals:log_out' %}>
 <input type="submit" value="Log out">
</form>