<a href={% url 'goals:index' user.username "empty" %}><h1>mLG</h1></a><!-- Home page of Users -->

<!-- Displays all goals under the personal list of a user, including remove and rename button -->
{{ category.title }}
{% if goals %}
<ul>
{% for g in goals%}
<li>{{ g.text }}</li>
<form>
  <button formaction={% url 'goals:remove' user.username category.id g.id %}>remove</button>
  <button formaction={% url 'goals:rename' user.username category.id g.id %}>rename</button>
</form>
{% endfor %}
</ul>
{% else %}
<p>No goals added yet.</p>
{% endif %}

<!-- A text box for creating a new goal -->
<form action = {% url 'goals:add' user.username category.id %} >
  New goal<br>
  <input type="text" name="new_goal"><br>
  <input type="submit" value="Create Goal">
</form>