<h1>Welcometo mLG</h1>
make LIFE GOOD by making your LIFE GOALS come true
<br><br>

<!-- Notification to mLG Users-->
{% if message %}
<font size = "3"
color = "red">{{message}}
</font>
{% endif %}

<!-- Sign up -->
<form action= {% url 'goals:sign_up' %}  method = POST>
{% csrf_token %}
  <fieldset>
    <legend>SIGN-UP:</legend>
    EMAIL:<br>
    <input type="email" name="email"><br>
    USER NAME:<br>
    <input type="text" name="user name"><br>
    PASSWORD:<br>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>

<!-- Sign in -->
<form action= {% url 'goals:sign_in' %}  method = POST>
{% csrf_token %}
  <fieldset>
    <legend>SIGN-IN:</legend>
    USERNAME:<br>
    <input type="text" name="user name"><br>
    PASSWORD:<br>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>